    .navbar {
        padding: 23px;
        border-bottom: 1px solid;
    }
    
    .btn {
        margin: 4px
    }
    
    .pageInfo {
        padding: 45px;
        max-width: 100%;
    }
    
    .error {
        border: 2px solid red;
    }
    
    .form-inline {
        padding-bottom: 8px
    }
    
    label {
        padding-right: 55px
    }
    
    footer {
        padding: 12px;
        border-top: 1px solid
    }
    /* grid */